/*basic set*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(176, 205, 237);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  padding: 1rem;
}
.container {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 10px 30px hsla(0, 0%, 0%, 0.1);
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  position: relative;
}
/*screen*/
.screen {
  display: none;
  padding: 2rem;
  text-align: center;
}
.screen.active {
  display: block;
  text-align: center;
}
/*start screen*/
#startScreen h1 {
  color: black;
  margin-bottom: 2rem;
}
#startScreen p {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
#startButton {
  text-align: center;
  font-size: 2rem;
  border: none;
  background-color: hsl(207, 93%, 67%);
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.quizHeader {
  margin-bottom: 2rem;
}
#questionText {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}
.quizInfo {
  display: flex;
  justify-content: space-between;
  color: gray;
  margin-bottom: 10px;
}
.answerContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}
.answerBtn {
  background-color: hsl(207, 93%, 67%);
  color: white;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  text-align: left;
  border: solid rgb(187, 182, 182) 2px;
  transition: all 0.3s ease;
}
.answerBtn:hover {
  background-color: hsl(207, 93%, 57%);
  border-color: white;
}
.answerBtn.correct {
  background-color: hsl(120, 100%, 63%);
  color: white;
}
.answerBtn.incorrect {
  background-color: rgb(255, 91, 91);
  color: white;
}
.progressBar {
  height: 10px;
  background-color: gray;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}
.progress {
  height: 100%;
  width: 0%;
  background-color: rgb(92, 178, 249) e;
  transition: width 0.3s ease;
}
/*result screen*/

#resultScreen h1 {
  color: black;
  margin-bottom: 30px;
}
#resultInfo {
  background-color: rgb(92, 178, 249);
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
}
#resultInfo p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}
#resultMessege {
  font-size: 2.5rem;
  color: aliceblue;
  text-align: center;
  font-weight: bold;
}
button {
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  background-color: hsl(207, 93%, 67%);
  padding: 10px 30px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}
button:hover {
  background-color: hsl(207, 93%, 57%);
}
@media (max-width: 500px) {
  #startScreen h1 {
    font-size: 2rem;
  }
  .screen {
    padding: 1rem;
  }
  #questionText {
    font-size: 1.3rem;
  }
  .answerBtn {
    padding: 12px;
  }
  button {
    padding: 12px 25px;
    font-size: 1rem;
  }
}
